.newsletter-signup.outer-container {
    height: auto;
    width: 100vw;
    background-color: #fbe18e;
    position: relative;
    top: 60vh;
    padding: 10px 0;
}
  
.newsletter-signup.outer-container h2 {
    color: #e44e2d;
    width: 80%;
    margin: auto;
    padding: 0px 0 10px;
}
  
.newsletter-signup.outer-container input {
    width: 50%;
    border: none;
    padding: 10px;
    border-radius: 15px 0px 0px 15px;
}
  
.newsletter-signup.outer-container button {
    background-color: #e44e2d;
    color: white;
    height: 33px;
    border: none;
    border-radius: 0px 15px 15px 0px;
}
  
.newsletter-signup.outer-container button h3 {
    margin: 0;
}