.footer.outer-container {
    height: auto;
    width: 100vw;
    background-color: #e44e2d;
    position: relative;
    top: 60vh;
}
  
.footer.outer-container h5 {
    margin: 0;
    padding: 20px 0;
    color: white;
}