.small-buttons {
    display: grid;
    width: 80vw;
    margin: 8vh auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
  }
  
  .small-button {
    width: 15vw;
    justify-self: center;
  }